/* Design Styles

canva.com
Colors
French Gray #B8B6BC
Jungle Mist #B6CCD3
Teal Blue #044664
Mosque #04546A
==============================================*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    color: #000
}

/*Start styles to header
=================================*/
header {
    padding: 20px 35px;
    background-image: url(./images/88-882598_web-design-blue-web-design-background-pattern.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 9999;
}


header h1 {
    color:#B6CCD3;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    flex: 1;
}

header a {
    color: #B6CCD3;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
    justify-content: space-between;
    flex: 4;
    text-align: right;
    text-decoration: none;
}

header nav ul {
    display: inline;
    text-decoration: none;
    }

header nav ul li a {
    margin: 0 30px;
    font-size: 1.6vw;
    font-weight: lighter;
    font-style: italic
}



/*Start styles to Intro section
========================================*/
.intro {
    background-image: url(./images/intro-img.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portrait-img img {
    flex: 1;
    border: 10px solid #044664;
    border-radius: 75%;
    max-width: 500px;
    height: auto;
    margin: 50px;
}

.intro-text {
    color: #044664;
    flex: 3;
    width: 50%;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }


.intro-text h1 {
    background-color: rgb(182, 204, 211, .3);
    color: #044664;
    text-align: center;
    font-family: Bellota;
    font-size: 3em;  
    }

.intro-text h2 {
    color: #128f8b;
    background-color: rgb(182, 204, 211, .3);
    text-align: center;
    font-family: Bellota;
    font-size: 2em;
} 

/*Start styles for about section
==================================*/
.about {
    background-color: #04546A;
    color: #B6CCD3;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    font-size: 1.1em;
    line-height: 1.5em;
}

.about-text {
    flex: 3;
    margin-top: 15%;
    margin-left: 10%;
}

.about img {
    flex: 1;
    border: 10px solid #B6CCD3;
    border-radius: 50%;
    max-width: 400px;
    height: 400px;
    margin: 100px;
}

/*Start styles for portfolio section
==================================*/

.portfolio {
    background-color: #BFC5C6;
    min-height: 500px;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio img {
    display: block;
    border-radius: 25%;
    max-width: 300px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio a {
    text-decoration: none;
    color: #04546A;
}

.portfolio h3 {
    text-align: center;
    text-decoration: none;
}
.app-text{
    text-align: center;
    color: #044664;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Contact Me styles*/
.contact {
    /* background-image: url(../css/images/clouds.jpg);
    padding: 25px;
    background-size: cover;
    background-position: center; */
    background-color: #B6CCD3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    }

.contact-form {
    border: 4px solid skyblue;
    color: slateblue;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 23px 25px;
    width: 32%;
    margin: 3%;
    border-radius: 10%;
}

.contact-form h3 {
    margin: 0;
    font-size: 30px;
    font-style: italic;
}

.contact-form p {
    margin: 5px 0 15px 0;
    font-size: 17px;
    font-style: italic;
}

.contact-form label {
    margin: 0 5px;
    font-style: italic;
}

.contact-form span {
    font-style: normal;
}

.contact-form button {
    color: slateblue;
    background-color: wheat;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-style: italic;
    border-radius: 10px;
}

.contact-form button:hover {
    background-color: skyblue;
}

.form-info {
    border: 1px solid slategray;
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    color: wheat;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color:rgba(164, 197, 219, 0.836);
}

.form-info :focus {
    outline: none;
    background-color: slategray;
}

.radio-wrapper input + label::after {
    counter-reset:none;
}

.radio-wrapper input:checked + label::after {
    counter-reset: "";
}

.radio-wrapper label {
    position: relative;
    margin: 4px;  
    line-height: 1.6;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

/* Footer Styles
   ========================================================================== */   

footer {
    background-image: url(./images/88-882598_web-design-blue-web-design-background-pattern.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

footer h2 {
    color: #B6CCD3;
    font-size: 26px;
    font-weight: lighter;
    margin: 0;
}

.footer-h2 {
    flex: 5;
}

.links {
    line-height: 1.5;
    flex: 1;
    text-align: right;
}

.links ul li {
    display: inline-block;
}

.links a {
    text-decoration: none;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        flex: 0 60%;
        width: 70%;
    }

    header h1 {
        width: 70%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 80%;
        justify-content: center;
        flex: 0 70%;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer {
        text-align: center;
        width: 70%;
    }

    .about {
        width: 70%;
    }

    
    .project {
        width: 70%;
    }
    .apps {
        flex: 0 70%;
        }

    .contact {
        width: 70%;
    }
    .contact-cta {
        font-size: 40%;
        width: 70%;
        text-align: center;
    }
    
    .contact-form {
        width: 70%;
        font-size: 70%;
    }

    .contact-cta {
        text-align: center;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
    
}    
    
/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
    .contact {
        color: black
    }
}