* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Start styles to header*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #96a0a1;
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 9999;
}


header h1 {
    color:skyblue;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

header a {
    color: skyblue;
    text-decoration: none;
}

header nav {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    }

header nav ul li a {
    font-size: 1.6vw;
    font-weight: lighter;
    padding: 10px 30px;
    font-style: italic;
}



/*Start styles to about me*/
.portrait {
    width: 88.91%;
    height: 200px;
    margin-bottom: 20px;
    /* margin: 0 auto; */
}

.portrait img {
    height: 100%;
    width: 150px;
    float: left;
}

.about h2 {
    border-bottom: 7px solid skyblue;
    font-size: 45px;
    text-align: center;
    color: skyblue;
    padding: 10px 0;
    margin-bottom: 10px;
}

.about-h2 {
    padding: 0px 30px;
    margin: 10px;
}

.my-info p {
    font-size: 20px;
    line-height: 1.2;
    padding: 40px;
    }

.text-right {
    text-align: right;
}

.my-info {
    padding: 25px 0;
    background-color: slategray;
    color: skyblue;
    width: 100%;
    margin: 50px 0px 0px 150px;
    height: 100%;
    text-align: center;
    }


/*Start styles to portfolio*/

.project {
    padding: 20px;
}
.portfolio {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pro-h2 h2 {
    border-bottom: 7px solid skyblue;
    font-size: 45px;
    text-align: center;
    color: skyblue;
    padding: 10px 0;
    margin-bottom: 10px;
}

.apps {
    margin:  20px;
    background: slategray;
    color: skyblue;
    flex: 1;
    
}

.apps img {
    width: 100%;
        padding: 10px 50px;
}

.app-title a {
    text-decoration: none;
    color: wheat;
}

.app-bio {
    padding: 25px;
    line-height: 1.3;
}

.app-bio h3 {
    font-size: 28px;
}

.app-bio p {
    font: 17px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.flex-row {
    display: flex;
}


/*Contact Me styles*/
.contact {
    background-image: url(../css/images/clouds.jpg);
    padding: 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    }

.contact-cta {
    border: 4px solid skyblue;
    color: slateblue;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 30px 70px 33px 70px;
    width: 35%;
    margin: 3%;
    border-radius: 10%;
    justify-content: space-between;
    }

.contact-cta h2 {
    font-size: 33px;
    color: slateblue;
    margin: 0%;
    font-style: italic;
    }

.contact-cta ul {
    list-style-type: none;
    padding: 20px;
}

.contact-cta span {
    font-size: 25px;
    font-style: italic;
}

.contact-cta ul li a {
    color: rgb(14, 118, 221);
    font-size: 24px;
    text-decoration: none;
    justify-content: space-around;
}

.contact-form {
    border: 4px solid skyblue;
    color: slateblue;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 23px 25px;
    width: 32%;
    margin: 3%;
    border-radius: 10%;
}

.contact-form h3 {
    margin: 0;
    font-size: 30px;
    font-style: italic;
}

.contact-form p {
    margin: 5px 0 15px 0;
    font-size: 17px;
    font-style: italic;
}

.contact-form label {
    margin: 0 5px;
    font-style: italic;
}

.contact-form span {
    font-style: normal;
}

.contact-form button {
    color: slateblue;
    background-color: wheat;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-style: italic;
    border-radius: 10px;
}

.contact-form button:hover {
    background-color: skyblue;
}

.form-info {
    border: 1px solid slategray;
    display: block;
    padding: 7px 15px;
    font-size: 18px;
    color: wheat;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color:rgba(164, 197, 219, 0.836);
}

.form-info :focus {
    outline: none;
    background-color: slategray;
}

.radio-wrapper input + label::after {
    counter-reset:none;
}

.radio-wrapper input:checked + label::after {
    counter-reset: "";
}

.radio-wrapper label {
    position: relative;
    margin: 4px;  
    line-height: 1.6;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

/*Footer styles begin*/
footer {
    background-image: url(./images/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer h2 {
    color: slateblue;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 15px rgb(255, 255, 255, 0.5);
    margin: 0;
}

footer div {
    color: slateblue;
    font-size: 28px;
    font-weight: bolder;
    text-align: right;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        flex: 0 60%;
    }
    header h1 {
        width: 70%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 80%;
        justify-content: center;
        flex: 0 70%;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 70%;
    }

    .about {
        width: 70%;
    }

    .project {
        width: 70%;
    }
    .apps {
        flex: 0 70%;
        }

    .contact {
        width: 70%;
    }
    .contact-cta {
        font-size: 40%;
        width: 70%;
        text-align: center;
    }
    
    .contact-form {
        width: 70%;
        font-size: 70%;
    }

    .contact-cta {
        text-align: center;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
    
}    
    
/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
    .contact {
        color: black
    }
}